<div class="container">
  <div class="left-card">
    <mat-card>
      <mat-card-header>
      <mat-card-title class="title"> SAVE THE DATE</mat-card-title>
        <mat-card-subtitle class="sub-title">ANNELORE  <span class="fa fa-heart" style="color: red;margin-left: 5px; margin-right: 5px;"></span>THOMAS</mat-card-subtitle>
      </mat-card-header>
        <img mat-card-image  src="https://mail.google.com/mail/u/0/?ui=2&ik=43c68a435d&view=fimg&th=1652a51e1aadac37&attid=0.1&disp=emb&attbid=ANGjdJ8fiJ1L9elJKTzorrejlWHo3DkyqrR-szSzGbLYpy2sIjntUd2cteJnRZuV7HZR7LgghEXIR7RzdRp8tGMkD8fW1o0aKv0y5eFFNDC7P9RVvQP36USmy0ydvmc&sz=s0-l75-ft&ats=1534013382944&rm=1652a51e1aadac37&zw&atsh=1">
      <mat-card-content>
        <p class="sub-title" style="margin-bottom: 0px;">SEPTEMBER</p>

        <ul class="days">
          <li> </li>
          <li> </li>
          <li> </li>
          <li> </li>
          <li> </li>
          <li> </li>
          <li>1</li>
          <li>2</li>
          <li>3</li>
          <li>4</li>
          <li>5</li>
          <li>6</li>
          <li>7</li>
          <li>8</li>
          <li>9</li>
          <li>10</li>
          <li>11</li>
          <li>12</li>
          <li>13</li>
          <li>14</li>
          <li>15</li>
          <li>16</li>
          <li>17</li>
          <li>18</li>
          <li>19</li>
          <li>20</li>
          <li style="color: red; font-weight: bold;font-size: 18px">21</li>
          <li>22</li>
          <li>23</li>
          <li>24</li>
          <li>25</li>
          <li>26</li>
          <li>27</li>
          <li>28</li>
          <li>29</li>
          <li>30</li>
        </ul>
        <p class="date">
          2019
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="right-card">
  <div class="right-card1">
    <mat-card>
      <mat-card-header>
        <mat-card-title class="title"> SAVE THE DATE</mat-card-title>
        <mat-card-subtitle class="sub-title">ANNELORE <span class="fa fa-heart" style="color: red;margin-left: 5px; margin-right: 5px;"></span>THOMAS</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="text-container">
        <p class="text">Wij gaan trouwen en willen</p>
        <p class="text">jou/jullie er graag bij.</p>
        <p class="text">Hou daarom alvast onze datum vrij!</p>
        </div>
        <ul class="hearts">
          <li><span class="fa fa-heart" style="color: red;margin-left: 5px; margin-right: 5px;"></span></li>
          <li><span class="fa fa-heart" style="color: red;margin-left: 5px; margin-right: 5px;"></span></li>
          <li><span class="fa fa-heart" style="color: red;margin-left: 5px; margin-right: 5px;"></span></li>
          <li><span class="fa fa-heart" style="color: red;margin-left: 5px; margin-right: 5px;"></span></li>
          <li><span class="fa fa-heart" style="color: red;margin-left: 5px; margin-right: 5px;"></span></li>
        </ul>
      </mat-card-content>
    </mat-card>
  </div>
  </div>
</div>

