.container{
  padding: 5%;
}

.left-card{
  width: 350px;
  height: 700px;
  -ms-transform: rotate(20deg); /* IE 9 */
  -webkit-transform: rotate(20deg); /* Safari */
  transform: rotate(20deg);
  position: relative;
  left: 30%;
  display: inline-block;
  background: white;

}
.right-card1{
  transform: translateY(-10%);
}

.right-card{
  width: 350px;
  height: 500px;
  -ms-transform: rotate(-10deg); /* IE 9 */
  -webkit-transform: rotate(-10deg); /* Safari */
  transform: rotate(-10deg);
  position: relative;
  left: 31%;
  /*padding-top: 10%;*/
  display: inline-block;
  z-index: -1;

}

img{
  width:280px;
  height: auto;
  margin-left: 10px;
  margin-right: 10px;
}
.title{
  font-family: "AppleGothic";
  font-style: italic;
  font-size: 35px;
  color: #4f5051;
}

.sub-title{
  font-family: "AppleGothic";
  font-style: italic;
  font-size: 20px;
  color: #4f5051;
  text-align: center;
}

.text{
  font-family: "AppleGothic";
  font-style: italic;
  font-size: 16px;
  color: #4f5051;
  text-align: center;
}
.text-container{
  padding-top: 183px;
  padding-bottom: 183px;
}

.heart {
  content: '&#9829';
}

.date{
  font-family: "AppleGothic";
  font-style: italic;
  font-size: 25px;
  color: #4f5051;
  position: relative;
  left: 220px;
}

.days {
  padding: 10px 0;
  margin: 0;
}

.days li {
  font-family: "AppleGothic";
  /* font-style: normal; */
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}
.hearts {
  padding: 10px 0;
  margin: 0;
}
.hearts li {
  list-style-type: none;
  display: inline-block;
  width: 20%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: red;
}
