<div class="container">
  <div class="left-card">
    <mat-card>
      <mat-card-header>
      <mat-card-title class="title"> SAVE THE DATE</mat-card-title>
        <mat-card-subtitle class="sub-title">ANNELORE  <span class="fa fa-heart" style="color: rgba(231, 44, 44, 0.856);margin-left: 5px; margin-right: 5px;"></span>THOMAS</mat-card-subtitle>
      </mat-card-header>
        <img mat-card-image  src="https://lh3.googleusercontent.com/jLLdE1bKATHjrxbaOUm11ml6RBqnV-vpuCLkQCOZ3CSPYMZGYBSIUwlKKAsBze1lD1uFvjxxiKzWNTvMzCeOdQiVZl39lDCwi40xnkG4z5xQQDxabk4MCVlP_JgNnB56fLXzXTnGUIrHbrJ47oM8aQZmkCTwqYEuuYGCZZywcCImB3oSPQshBXj5h7RooLqVJ0PI4Yjqbgl6pl6qOdk7Nm2cYHkbSDpdCGtVwspPEE11uQRI8GncQlE2cuDhN2OhPeF7HC85dE4RosyVqk_69hHSsvkXCZCLLnQWzVooV91d75kHCX3-WZXGDXPH73HgjMY6iK1QyZ2CppiEkYGFNG_VeuAJAhtEzXWZXE-0cp8-br9DectXdGfcV_fbZ9fdOM3g9dAgZkkUIqZ3mK_I2kM7k2ua0WWyd-v0jkVha9BLrZ4lDkWuIY1pwmiTOe-XY_qh2VIFI3gWtCs5uLRmJJU5JwjdIChUJIWknRC8hvMUwViEHEmPFWu1HOcYjhLyVttAYVas0E1ysu-v9wW7Y1W2VaB3XNJ0lo9SXkgueIVDzicB74crhZ8CvOCM_ciTb64WTCMiFA-Z0D48jWouSgeRgiBl-0Kx7d3usgN79_B8aqqXMRbqlTVSWnhMWt5987F8BKDwBeEEUuy2QXnQe2jkgg=s180-no">
      <mat-card-content>
        <p class="sub-title" style="margin-bottom: 0px;">OKTOBER</p>

        <ul class="days">
          <li> </li>
          <li>1</li>
          <li>2</li>
          <li>3</li>
          <li>4</li>
          <li style="color: rgba(231, 44, 44, 0.856); font-weight: bold;font-size: 18px; font-style: italic;">5</li>
          <li>6</li>
          <li>7</li>
          <li>8</li>
          <li>9</li>
          <li>10</li>
          <li>11</li>
          <li>12</li>
          <li>13</li>
          <li>14</li>
          <li>15</li>
          <li>16</li>
          <li>17</li>
          <li>18</li>
          <li>19</li>
          <li>20</li>
          <li>21</li>
          <li>22</li>
          <li>23</li>
          <li>24</li>
          <li>25</li>
          <li>26</li>
          <li>27</li>
          <li>28</li>
          <li>29</li>
          <li>30</li>
          <li>31</li>
        </ul>
        <p class="date">
          2019
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="right-card">
  <div class="right-card1">
    <mat-card>
      <div>
          <ul class="hearts" >
              <li><span class="fa fa-heart" style="color: rgba(231, 44, 44, 0.856);margin-left: 5px; margin-right: 5px;"></span></li>
              <li><span class="fa fa-heart" style="color: rgba(231, 44, 44, 0.856);margin-left: 5px; margin-right: 5px;"></span></li>
              <li><span class="fa fa-heart" style="color: rgba(231, 44, 44, 0.856);margin-left: 5px; margin-right: 5px;"></span></li>
              <li><span class="fa fa-heart" style="color: rgba(231, 44, 44, 0.856);margin-left: 5px; margin-right: 5px;"></span></li>
              <li><span class="fa fa-heart" style="color: rgba(231, 44, 44, 0.856);margin-left: 5px; margin-right: 5px;"></span></li>
            </ul>
      </div>
      <mat-card-header style="padding-top: 148px">
        <mat-card-title class="title"> SAVE THE DATE</mat-card-title>
        <mat-card-subtitle class="sub-title">ANNELORE <span class="fa fa-heart" style="color: rgba(231, 44, 44, 0.856);margin-left: 5px; margin-right: 5px;"></span>THOMAS</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="text-container">
        <p class="text">Wij gaan trouwen en willen</p>
        <p class="text">jou/jullie er graag bij.</p>
        <p class="text">Hou daarom alvast onze datum vrij!</p>
        </div>
        <ul class="hearts" >
          <li><span class="fa fa-heart" style="color: rgba(231, 44, 44, 0.856);margin-left: 5px; margin-right: 5px;"></span></li>
          <li><span class="fa fa-heart" style="color: rgba(231, 44, 44, 0.856);margin-left: 5px; margin-right: 5px;"></span></li>
          <li><span class="fa fa-heart" style="color: rgba(231, 44, 44, 0.856);margin-left: 5px; margin-right: 5px;"></span></li>
          <li><span class="fa fa-heart" style="color: rgba(231, 44, 44, 0.856);margin-left: 5px; margin-right: 5px;"></span></li>
          <li><span class="fa fa-heart" style="color: rgba(231, 44, 44, 0.856);margin-left: 5px; margin-right: 5px;"></span></li>
        </ul>
      </mat-card-content>
    </mat-card>
  </div>
  </div>
</div>

